body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

h1 {
  padding-top: 20vh;
  font-size: 5vw;
  font-family: var(--font-primary);
  text-align: center;
}

.continue {
  text-align: center;
  padding-bottom: 5vh;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: underline;
}

.continue a {
  color: var(--font-color-noir);
}

.container-shoppingcard {
  padding-left: 15vh;
  padding-right: 15vh;
  padding-bottom: 15vh;
  display: grid;
  grid-template-columns: 27% 28% 15% 15% 20%;
  grid-template-rows: auto;
  align-items: center;
}

.container-shoppingcard img {
  margin-bottom: 2rem;
  width: 18rem;
  height: 14rem;
}

.container-shoppingcard .name {
  font-size: 2vw;
  margin-bottom: 2rem;
}

.container-shoppingcard .nameDescr {
  font-size: 1.2vw;
}

.container-shoppingcard .container-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.container-shoppingcard .quant {
  text-align: left;
}

.container-shoppingcard .price {
  text-align: center;
}

.container-shoppingcard .char {
  font-size: 2rem;
  cursor: pointer;
  text-align: right;
}

.container-shoppingcard .total {
  margin-top: 2rem;
  background-color: var(--primary-color);
  grid-column: 1 / span 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  font-size: 2rem;
  margin-right: 25vw;
}

.container-shoppingcard .cont-button {
  grid-column: 1 / span 5;
  background-color: var(--primary-color);
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: center;
}

.container-shoppingcard .cont-button .butt-total {
  background-color: var(--color-vert-clair1);
  width: 12rem;
  margin: 1rem;
  cursor: pointer;
}

.container-shoppingcardvide {
  display: flex;
  justify-content: center;
  align-items: end;
}

.container-shoppingcardvide .text-vide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .container-shoppingcard {
    padding-left: 0vh;
    padding-right: 0vh;
    padding-bottom: 1vh;

    grid-template-columns: 30% 30% 10% 10% 20%;
  }

  .container-shoppingcard img {
    width: 25vw;
    height: 10vh;
    padding-left: 3vh;
  }

  h1 {
    padding-top: 10vh;
    font-size: 10vw;
  }

  .continue {
    padding-bottom: 1vh;
  }
  .container-shoppingcard .name {
    margin-bottom: 0;
  }
  .container-shoppingcard .total {
    width: 100vw;
    padding-right: 3vw;
  }

  .container-shoppingcard .name {
    font-size: 3vw;
    margin-bottom: 0rem;
  }

  .container-shoppingcard .nameDescr {
    font-size: 2vw;
  }

  .container-shoppingcard .cont-button {
    padding-right: 3vw;
  }

  .container-shoppingcardvide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    padding-top: 20vh;
    font-size: 10vw;
    font-family: var(--font-primary);
    text-align: center;
  }

  .loader {
    width: 220px;
    height: 220px;
  }
}
